version: "3.9"
services:
  postgres:
    image: postgres:16.10-bookworm
    container_name: postgresql_database
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: glop
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5400:5432"

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: password
    ports:
      - "8080:80"
    depends_on:
      - postgres

volumes:
  postgres_data:


